# HOST
HOST_PORT=4000

# URL
BACKEND_URL=http://localhost:4000

# CORS
VALID_ORIGINS=http://localhost:3000,https://public-url

# Cloudflare
CLOUDFLARE_CDN_URL=https://your-cloudflare-cdn-url

# Secret
SECRET_KEY=your_secret_key
